registry=https://artifactory.trusted.visa.com/api/npm/npm-dmpd-virtual/
#registry=https://registry.npmjs.org/
@visa:registry=https://artifactory.trusted.visa.com/api/npm/npm-dmpd-uie/
@visa-test:registry=https://artifactory.trusted.visa.com/api/npm/npm-dmpd-virtual/
@visa-redux:registry=https://artifactory.trusted.visa.com/api/npm/npm-dmpd-virtual/
sass_binary_site=https://artifactory.trusted.visa.com/dmpd-uie-tools/node-sass/downloads
phantomjs_cdnurl=https://artifactory.trusted.visa.com/dmpd-uie-tools/phantomjs/downloads
